html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #f5f6f8;
    .css-26l3qy-menu {
        z-index: 99 !important;
    }
    .text-primary {
        color: #0056c1 !important;
    }

    #main-content {
        display: flex;
        width: 100%;
        min-height: 1080px;

        main {
            width: inherit;
        }
    }

    .pro-sidebar {
        height: unset !important;
    }

    .pro-sidebar > .pro-sidebar-inner {
        background-color: #025c95 !important;
    }

    .pro-sidebar
        > .pro-sidebar-inner
        > .pro-sidebar-layout
        .pro-sidebar-content {
        background-color: #0774b8 !important;
    }

    .pro-sidebar
        .pro-menu.shaped
        .pro-menu-item
        > .pro-inner-item
        > .pro-icon-wrapper {
        background-color: #3bafda !important;
        color: white;
    }

    .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-list-item > {
        background-color: #3bafda !important;
        color: white;
    }

    .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
        // background-color: #3bafda !important;
        color: white;
    }

    .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
        padding-left: 24px;
        background-color: transparent;
        color: white;
    }
    .Example input,
    .Example button {
        font: inherit;
    }

    .Example header {
        background-color: #323639;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        padding: 20px;
        color: white;
    }

    .Example header h1 {
        font-size: inherit;
        margin: 0;
    }

    .Example__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        padding: 10px;
    }

    .Example__container__load {
        margin-top: 1em;
        color: white;
    }

    .Example__container__document {
        margin: 1em 0;
    }

    .Example__container__document .react-pdf__Document {
        // zoom: 1.3;
        //   transform: scaleX(1.5);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Example__container__document .react-pdf__Page {
        max-width: calc(100% - 2em);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        margin: 1em;
    }

    .Example__container__document .react-pdf__Page canvas {
        max-width: 100%;
        height: auto !important;
    }

    .Example__container__document .react-pdf__message {
        padding: 20px;
        color: white;
    }
    .bg-light-blue {
        border: 1px solid #3bafda;
        border-radius: 7px;
        background: #fff !important;
        color: #3bafda !important;
    }
    .badge {
        padding: 7px 12px;
        font-size: 12px;
        border-radius: 4px;
        margin-top: 5px;
    }
}
