.text-blue2 {
  color: #3bafda;
}
.text-white {
  color: #ffffffff;
}
.bg-blue2 {
  background-color: #3bafda;
}
.border-blue2 {
  border-color: #3bafda;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-primary2 {
  background-color: #6c757d;
  border-color: #6c757d;
}
