header {
    height: 65px;

    #nav-admin {
        background-color: #0774b8 !important;
        height: 100%;
        
        .icon-user {
            padding-bottom: 5px;
        }

        ul {
            li {
                text-align: justify;
            }
        }
    }
}