.btn-bottom-sm {
    width: 120px !important;
    font-size: 13px !important;
    padding: 10px 16px !important;
    i {
        font-size: 12px !important;
    }
}


.btn-bottom-md {
    width: 140px !important;
    font-size: 14px !important;
}