#main {
    .topnav {
        top: 0;
        width: 100%;
        height: 68px;
        position: fixed;
        color: black;     
        background-color: #fff;
        border-bottom: 1px solid;
    }

    .topnav a {
        float: left;
        padding: 10px 28px;
        text-decoration: none;
    }

    .topnav a:hover {
        color: black;
        background: #ddd;
    }




    .sidenav {
        left: 0;
        top: 68px;
        z-index: 1;
        width: 68px;
        position: fixed;
        padding-top: 20px;
        overflow-x: hidden;
        background-color: #fff;
        height: calc(100% - 68px);
        border-right: 1px solid;
    }

    .sidenav a {
        display: block;
        font-size: 25px;
        color: #818181;
        text-decoration: none;
        padding: 6px 8px 6px 16px;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    
    .content {
        padding: 16px;
        margin: 68px 0 0 68px;
    }


    .dropdown {

        .dropdown-toggle {
            padding: 0;
        }

        .dropdown-menu {
            font-size: 13px;
            display: inline-block;
        }
    }


    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }
}